<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/guild.css">
    <title>Guild Details</title>
</head>

<body>
    <div class="sidebar" id="sidebar">
        <p href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()"><i class="fa fa-bars"></i></p>
        <a href="/dashboard"><i class="fa fa-tachometer"></i> <span class="sidebar-text"> Dashboard</span></a>
        <a href="/getUserGuilds"><i class="fa fa-server"></i> <span class="sidebar-text">Servers</span></a>
        <a href="/commands"><i class="fa fa-terminal"></i> <span class="sidebar-text"> Commands</span></a>
        <a href="javascript:void(0)" onclick="redirectToModules()"><i class="fa fa-cogs"></i> <span class="sidebar-text"> Modules</span></a>
        <a href="/settings"><i class="fa fa-cog"></i> <span class="sidebar-text"> Settings</span></a>
        <a href="javascript:void(0)" onclick="logout()"><i class="fa fa-sign-out"></i> <span class="sidebar-text"> Logout</span></a>
    </div>
    <section class="main-content container mt-5" id="main-content">
        <div class="guild-details">
            <img src="<%= avatar %>" alt="<%= username %>">
            <h2>You're viewing <%= guild.name %></h2>
            <h3>Your Permissions in this guild are:</h3>
        </div>
        <div class="permissions-list">
            <ul>
                <% for (let [permission, hasPermission] of Object.entries(bitPermissions.serialize())) { %>
                <li><span><%= permission %></span>: <%= hasPermission ? 'Granted' : 'Denied' %></li>
                <% } %>
            </ul>
        </div>
    </section>

    <script>
        function logout() {
            window.location.href = '/logout';
        }

        function redirectToModules(){
            window.location.href = `/getUserGuilds/<%= guild.id %>/modules`
        }

        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            var mainContent = document.getElementById("main-content");
            var sidebarText = document.querySelectorAll('.sidebar-text');
            var sidebarWidth = sidebar.style.width;

            if (sidebarWidth === "70px" || sidebarWidth === "") {
                sidebar.style.width = "250px";
                mainContent.style.marginLeft = "600px";
                sidebarText.forEach(text => text.style.display = "inline");
                localStorage.setItem('sidebarState', 'expanded');
            } else {
                sidebar.style.width = "70px";
                mainContent.style.marginLeft = "600px";
                sidebarText.forEach(text => text.style.display = "none");
                localStorage.setItem('sidebarState', 'collapsed');
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            var sidebarState = localStorage.getItem('sidebarState');
            var sidebar = document.getElementById("sidebar");
            var mainContent = document.getElementById("main-content");
            var sidebarText = document.querySelectorAll('.sidebar-text');

            if (sidebarState === 'collapsed') {
                sidebar.style.width = "70px";
                mainContent.style.marginLeft = "600px";
                sidebarText.forEach(text => text.style.display = "none");
            } else {
                sidebar.style.width = "250px";
                mainContent.style.marginLeft = "600px";
                sidebarText.forEach(text => text.style.display = "inline");
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
